@media (max-width: 650px) {
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .FieldsetDiv {
        margin: 5px;
        width: 90%;
    }

    #gameBoard {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    button {
        padding: 10px;
    }

    table {
        table-layout: fixed;
    }

    td {
        padding-left: 5px;
        font-size: 9px;
        line-height: 10px;
        text-align: left; 
        vertical-align: middle;
    }
}