html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

header, footer {
    background-image: linear-gradient(to bottom right, rgb(71, 148, 235), rgb(6, 62, 114));
    border-radius: 2px;
}

header, footer, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 4px;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;

}

h2 {
    text-align: center;
}

#gameBoard {
    display: flex;
    justify-content: center;
}

#TableDiv {
    flex: 3;
}

#HighScoreDiv {
    flex: 1;
}

footer {
    text-align: center;
    color: white;
    padding: 8px;
}

button {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 2.5px;
}

fieldset {
    display: flex;
    justify-content: space-around;
    border-radius: 7.5px;
}

.FieldsetDiv {
    background-color: rgb(196, 196, 196);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 15px;
    width: 20%;
}

h3 {
    text-align: center;
}

#HighScoreList {
    display: flex;
}

#playerNameDiv {
    flex: 2;
}

#scoreDiv {
    flex: 1;
}

table {
    width: 100%;
}

td {
    padding: 40px;
    border-radius: 10px;
    white-space: pre-line;
}

.unselected {
    border: rgb(184, 184, 184) solid 3px;
}

td:hover {
    border: black dashed 3px;
}

.selected {
    border: green solid 3px;
}

#searchColour {
    text-align: center;
}

input, select {
    border-radius: 5px;
}

.FieldsetDiv input:invalid {
    border: red solid 2px;
    background-color: rgb(255, 162, 162);
}

#clearButton {
    width: 225px;
}

.clearButtonDiv {
    display: flex;
    justify-content: center;
}

label {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}